body {
  width: 96vw;
  height: 100vh;
  background: linear-gradient(#120026, #1a1a1a);
  background-attachment: fixed;
  float: left;
  font-size: 16px;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#header {
  height: 200px;
  background: #120026;
}