body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#120026, #1a1a1a);
  background-attachment: fixed;
  float: left;
  font-size: 16px;
  color: antiquewhite;
  text-align: center;
  align-items: center;
  margin:0;
  text-decoration: none;
}
#header {
  height: 200px;
  background: #120026;
}

details {
  margin: auto;
  background: #000000;
  line-height: 60px; 
  width:300px
}

details summary {
  margin: auto;
  border: 2px outset whitesmoke;
  line-height: 60px; 
  width:300px
}

details[open] summary {
  margin: auto;
  border: 2px inset whitesmoke;
  line-height: 60px; 
  width:300px
}

details[open] {
  margin: auto;
  line-height: 60px; 
  vertical-align: middle;
  text-align: center;
  background-color: #000000;
  width:90%
}

.embed-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-top:   66.6%;
}

.embed-content {
  position: absolute;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;
  width:    100%;
  height:   105%
}